.menu {
    border: solid 2px gree;
}


.container {

    width: 960px;
    margin: 0 auto;
    border: solid 2px green;
    padding: 10px 10px;
}

.menu-items {
    display: flex;
    justify-content: space-between;
    /* pushes left and right apart */
    align-items: center;
}



.nav-items {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}

.text {
    text-decoration: none;
    color: green;
}

.nav-items:hover {
    text-decoration: underline;
    text-decoration-color: green;
}

.coverimg {
    width: 100%;
}

.slideshow {
    display: none;
}

.cover {
    position: relative;
    text-align: center;
    color: white;
}

.coverimg {
    width: 100%;
    opacity: 0.7;
}

.slideshow-container {
    width: 100%;
}


img {
    vertical-align: middle;
}

.mySlide {
    display: none;

}

div.button {
    margin-top: 30px;
}

.cover {
    position: relative;
    text-align: center;
    color: white;
}

.coverimg {
    width: 100%;
}

.textoncover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 40px;
    color: black;
    -webkit-text-stroke: 0.5px green;
}

.subtitle {
    font-size: 20px;
    color: black;
    -webkit-text-stroke: 0.2px green;
}

.button {
    font-size: 30px;
}

a.button {
    text-decoration: none;
    color: black;
    border: 3px solid green;
    padding: 12px;
}

a.button:hover {
    text-decoration: none;
    color: black;
    border: 3px solid green;
    padding: 12px;
    background-color: rgba(204, 168, 118, 0.3);
}

.dot {
    transition: background-color 0.6s ease;
    display: none;
}

.title1 {
    font-size: 40px;
    text-align: center;
    color: green;
    margin-top: 40px;
    margin-bottom: 40px;


}


.info1 {

    background-color: lightgreen;
    height: 250px;
    border-radius: 100px 100px 100px 100px;
    margin-right: 300px;
    margin-top: 10px;
    display: inline-block;
}

.title-info {
    margin: 20px 20px 20px 20px;
    text-align: center;
}

.text1 {
    margin: 20px 20px 20px 20px;
}

.info2 {

    background-color: lightgreen;
    height: 250px;
    border-radius: 100px 100px 100px 100px;
    margin-left: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

.articles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.article-box1 {

   
    text-align: center;

}

.article-box2 {
    
    text-align: center;

}

.article-box3 {
    
    text-align: center;

}

.emoticons {

    justify-content: center;
    align-items: center;
    font-size: 100px;
    margin-bottom: 10px;
}

.text-article {
    font-size: 24px;
    margin-bottom: 15px;
}

.button-article {
    display: inline-block;
    font-size: 30px;
    background-color: #2a7f2a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid green;
    font-weight: bold;
}

a.button-article:hover {
    color: green;
    background-color: white;
}

.greenline {
    width: 70px;
    height: 5px;
    background-color: green;
    margin: 0 auto 15px auto;

}

.banner {
    width: auto;
    height: 250px;
    /* your banner height */
    background-image: url("images/photo3.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    color: white;
    text-align: center;
    opacity: 0.7;
    margin-top: 20px;
}

.banner-box {
    width: 30%;
    border: 2px solid white;
}

.banner-title {
    font-size: 28px;
    font-weight: bold;
}

.banner-subtitle {
    font-size: 18px;
    margin-top: 5px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}




.contact-us {
    color: green;


}

.contact-title {
    text-align: center;
    color: green;
}


/* site-zanas.html */



/* site-kontakti.html */

.kontaktidanni {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.kontaktiinformacia>p {
    margin-top: 20px;
    margin-bottom: 30px;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}

.kontaktiinformacia {
    margin-top: 10px;
    width: 400px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    background-color: lightgreen;
    border: 5px double white;

}

.kontaktiinformacia i {
    display: inline;
    padding-right: 10px;

}

.kontaktiinformacia span {
    align-self: flex-start;
    padding-left: 20px;
    font-size: 17px;
    padding-bottom: 10px;

}

.kontaktiinformacia label {
    align-self: flex-start;
    padding-left: 20px;
    font-size: 17px;
    padding-bottom: 5px;
    color: #400106;
}

#kontaktime,
#kontaktemail,
#kontakttelefon {
    align-self: flex-start;
    padding-left: 10px;
    margin-left: 20px;
    width: 200px;
    height: 20px;
    color: #400106;
    border: none;
    margin-bottom: 3px
}

.kontaktiinformacia textarea {
    align-self: flex-start;
    padding-left: 10px;
    margin-left: 20px;
    width: 300px;
    height: 70px;
    color: #400106;
    border: none;
}

#kontaktibuton {
    align-items: center;
    background-color: green;
    color: white;
    border: none;
    border-radius: 25px;
    height: 30px;
    width: 150px;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}




/* site-vhod.html */



.vhoddanni {

    color: black;
    background-color: none;
    opacity: 0.8;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.vhodsnimka {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid green;


}

.vhodsection {

    position: relative;
    width: 100%;


}

.vhoddanni p:first-of-type {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.vhoddanni label {
    font-size: 17px;
    color: black;
    padding-bottom: 5px;
    padding-top: 10px;
}

#vhodemail,
#vhodparola {
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    background-color: lightgreen;
    color: black;
}

.vhoddanni a {
    color: green;
}

.vhoddanni p:nth-of-type(2) {
    font-size: 17px;
    align-self: center;
}

.vhodbuton {
    width: 200px;
    height: 30px;
    align-self: center;
    background-color: lightgreen;
    color: black;
    border: none;
    border-radius: 20px;
    font-size: 17px;

}


/* site-novini.html */

.news-section {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

.news-slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-container {
    width: 100%;
    overflow: hidden;
}

.news-item {
    display: none;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    color: green;
}

.news-item h2 {
    color: green;
}

.news-item.active {
    display: block;
}

.arrow {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: green;
    padding: 10px;
}

/* site-deynosti.html */

.activities-section {
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;

}

.activity-card {
    background: #f0f8f0;
    padding: 20px;
    border-radius: 12px;
    color: green;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}


.activity-card h3 {
    margin-bottom: 10px;
}





    

